.center {
    text-align: center;
}

.slider {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.slider-track {
  display: flex;
  width: calc(200%); /* Doble para el bucle */
  animation: scroll-left 30s linear infinite;
}

.slider-track img {
  height: 60px;
  margin: 40px;
  object-fit: cover;
  flex-shrink: 0;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 30px -20px;
  border-radius: 10px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
